<!DOCTYPE html>
<html lang="en" class="keep-it-100">
<head>

    <link rel="stylesheet" type="text/css" href="/html/css/bulma.min.css" >
    <link rel="stylesheet" type="text/css" href="/html/css/ner.css" >

</head>
<body class="container is-fluid keep-it-100">



    <script>




    	var doc = <%- docjson %>;

    </script>



	<script type="application/javascript" src="/html/js/ner.js"></script>





</body>




</html>